body {
	background-color: black; 
	color: #46F216;
	font-family: "Frank Ruhl Libre", Garamond, serif;
	font-size: 1.3em;
	-ms-overflow-style: none;  
	scrollbar-width: none;
	cursor: crosshair;  
	overflow: hidden;
	height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#container {
	margin: 0 auto;
	width: 95%;
	padding: 1%;
}

#header {
	position: fixed;
	font-size: 3em;
	white-space: nowrap;
	margin-top: -1.5em;
	margin-left: -6em;
	font-family: "Barlow Condensed", Helvetica, sans-serif;
	font-weight: 800;
}

#pic1 {
	margin-left: -150px;
	margin-top: 200px;
	display: inline-block;
	float: left;
	max-width: 40%;
}

#pic2 {
	display: inline-block;
	float: right;	
	max-width: 40%;
	margin-top: 30px;
	margin-right: -100px;
} 

#intro {
	display: inline-block;
	width: 50%;
	margin-top: 200px;
	margin-left: 40px;
	font-size: 0.85em;
	color: #fffeef;
}

.emph {
	color: #46F216;
}
::selection {
	background-color: #F277A4;
	color: #0D0D0D;
}

a {
	text-decoration: none;
	color: #46F216;
	padding-bottom: 0;
	text-shadow: 0.5px 0.5px 0 black;
	font-weight: 600;
}

a:hover {
	background-color: #F277A4;
	color: #0D0D0D;
	text-shadow: none;
	cursor: cell;
}

.dummy {
	display: none;
	visibility: i 
}

@media only screen and (max-width: 1200px) {
  #container {
    width: 90%;
  }
}

@media only screen and (max-width: 1050px) {
  #container {
    width: 90%;
  }
 	#pic1 {
 		max-width: 0px;
 		display: inline-block;
 	}
 	#intro {
 		width: 75%;
 		margin-top: 150px;
 		margin-left: 0;
 	}
 }

@media only screen and (max-width: 800px) {
  #container, #intro {
    width: 90%;
  }
 	#pic1 {
 		max-height: 0px;
 		display: inline-block;
 	}
 	#intro {
 		width: 75%;
 		margin-top: 150px;
 		margin-left: 0;
 	}
}

@media only screen and (max-width: 600px) {
  body {
  	overflow-y: scroll;
	overflow-x: hidden;  
  }
  #container, #intro {
    width: 90%;
  }
 	#intro {
 		width: 75%;
 		margin-top: 150px;
 		margin-left: 0;
 	}
}
