body {
	background-color: #0D0D0D; 
	color: #F277A4;
	font-family: "M PLUS Code Latin", Helvetica, sans-serif;
	font-size: 1.3em;
	-ms-overflow-style: none;  
	scrollbar-width: none;  
}

body::-webkit-scrollbar {
  display: none;
}

#container {
	margin: 0 auto;
	width: 75%;
	padding: 1%;
}

#header {
	position: fixed;
}

#content {
	margin-top: 15%;
}

h3 {
	font-weight: 400;
	color: #737272;
	margin-top: -10px;
}

#

::selection {
	background-color: #F277A4;
	color: #0D0D0D;
}

a {
	text-decoration: none;
	color: #F277A4;
	padding-bottom: 0;
	text-shadow: 0.5px 0.5px 0 #E1F2A2;
}

a:hover {
	background-color: #F277A4;
	color: #0D0D0D;
	text-shadow: none;
	text-decoration: line-through;
}

.dummy {
	display: none;
	visibility: i 
}

@media only screen and (max-width: 1200px) {
  #container {
    width: 90%;
  }
 	#content {
 		margin-top: 17%;
 	}
}

@media only screen and (max-width: 950px) {
  #container {
    width: 90%;
  }
 	#content {
 		margin-top: 20%;
 	}
}

@media only screen and (max-width: 800px) {
  #container {
    width: 90%;
  }
 	#content {
 		margin-top: 25%;
 	}
}

@media only screen and (max-width: 600px) {
  #container {
    width: 90%;
  }
 	#header {
 		position: relative;
 	}
 	#content {
 		margin-top: 2%;
 	}
}
